@use "../mixin" as *;
//
// footer
//
.lFooter {
  background: #CACACA;
  text-align: center;
  margin: 160px 0 0 0;
  padding: 40px 0 30px 0;
  @include mqSP {
    margin: 80px 0 0 0;
  }
}
.footerLogo {
  width: 116px;
  margin: 0 auto 30px auto;
}
.footerCopy {
  font-size: 16px;
  color: #333333;
  font-weight: normal;
}