@use "../mixin" as *;
//
// section ( keynote area )
//
.keynote {
	display: grid;
	grid-template-columns: 60% 1fr;
	grid-template-rows: 1fr;
	gap: 1rem;
	margin: 0 0 50px 0;
	@include mqSP {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	.keynoteImage {
		margin: 0 0 50px 0;
		@include mqSP {
			margin: 0 0 20px 0;
		}
	}

	.keynoteName {
		margin: 20px 0 50px 0;
		dt {
			font-size: 36px;
			font-weight: bold;
			margin: 0 0 15px 0;
		}
		dd {
			font-size: 20px;
		}
		@include mqSP {
			margin: 0 0 20px 0;
			dt {
				font-size: 24px;
				margin: 0 0 10px 0;
			}
			dd {
				font-size: 16px;
			}
		}
	}

	.keynoteProgram {
		width: 100%;
		color: #FFFFFF;
		text-decoration: none;
		text-align: end;
		i {
			margin-left: 0.5rem;
		}
	}
}
