@use "../mixin" as *;
//
// section ( logo area )
//
.lLogo {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	@include mqTB {
		width: 100%;
		padding: 0 20px;
	}
	@include mqSP {
		margin: -55px auto 70px auto;
		padding: 0;
	}
}
