@use "../mixin" as *;
//
// section ( logo area )
//
.lLogo {
	max-width: 1297px;
	margin: -160px auto 160px auto;
	width: 100%;
	@include mqTB {
		width: 100%;
		padding: 0 20px;
	}
	@include mqSP {
		margin: -55px auto 70px auto;
		padding: 0;
	}
}
