@use "../mixin" as *;

.lNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 40px 20px 0;
  a {
    display: block;
  }
  @include mqTB {
    padding: 40px 20px 20px 0;
  }
  @include mqSP {
    max-width: 100%;
    padding: 40px 10px 10px 0;
  }
}
.navList {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  li {
    margin: 0 32px 0 0;
    a {
      text-decoration: none;
      color: #FFFFFF;
      &.isActive {
        pointer-events: none;
        color: #4AC0E5;
      }
    }
  }
}

.navSns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 65px 0 0;
  .navSnsFacebook {
    width: 25px;
    height: 25px;
    margin: 0 24px 0 0;
    a {
      width: 25px;
      height: 25px;
    }
  }
  .navSnsTwitter {
    width: 25px;
    height: 25px;
    a {
      width: 25px;
      height: 25px;
    }
  }
  @include mqSP {
    padding: 0 30px 0 0;
  }
}

