@use "../mixin" as *;
.lMain {
  width: 100%; }
  .lMain .timetableDetailWrapper {
    max-width: 720px;
    width: 50%;
    margin: 152px auto 160px; }
    @media screen and (max-width: 1024px) {
      .lMain .timetableDetailWrapper {
        width: 100%;
        padding: 0 24px;
        margin: 160px auto 160px; } }
    @media screen and (max-width: 414px) {
      .lMain .timetableDetailWrapper {
        width: 100%;
        padding: 0 16px;
        margin: 111px auto 80px; } }
    .lMain .timetableDetailWrapper .detailTitle {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      margin-bottom: 32px; }
      @media screen and (max-width: 414px) {
        .lMain .timetableDetailWrapper .detailTitle {
          display: block; } }
      .lMain .timetableDetailWrapper .detailTitle .track {
        background-color: #ffffff;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: #333333;
        padding: 6px 20px;
        margin-right: 16px; }
        @media screen and (max-width: 414px) {
          .lMain .timetableDetailWrapper .detailTitle .track {
            display: inline-block;
            margin-bottom: 16px;
            font-size: 20px;
            line-height: 23px; } }
      .lMain .timetableDetailWrapper .detailTitle .date {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF; }
        @media screen and (max-width: 414px) {
          .lMain .timetableDetailWrapper .detailTitle .date {
            font-size: 20px;
            line-height: 23px; } }
    .lMain .timetableDetailWrapper .topicTitle {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #FFFFFF;
      margin-bottom: 80px; }
      @media screen and (max-width: 414px) {
        .lMain .timetableDetailWrapper .topicTitle {
          font-size: 20px;
          line-height: 24px; } }
    .lMain .timetableDetailWrapper .topicDetail {
      margin-bottom: 80px; }
      .lMain .timetableDetailWrapper .topicDetail li {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 16px;
        position: relative;
        padding-left: 20px;
        list-style: none; }
        @media screen and (max-width: 414px) {
          .lMain .timetableDetailWrapper .topicDetail li {
            font-size: 20px;
            line-height: 32px; } }
      .lMain .timetableDetailWrapper .topicDetail li:before {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 11px;
        content: "";
        background: #F3F190; }
      .lMain .timetableDetailWrapper .topicDetail P {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF; }
    .lMain .timetableDetailWrapper .topicPerformer {
      margin-bottom: 80px; }
      .lMain .timetableDetailWrapper .topicPerformer li {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 16px;
        position: relative;
        padding-left: 20px;
        list-style: none; }
        @media screen and (max-width: 414px) {
          .lMain .timetableDetailWrapper .topicPerformer li {
            font-size: 20px;
            line-height: 32px; } }
      .lMain .timetableDetailWrapper .topicPerformer li:before {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 11px;
        content: "";
        background: #F3F190; }
      .lMain .timetableDetailWrapper .topicPerformer .flex {
        display: -ms-flexbox;
        display: flex; }
        @media screen and (max-width: 414px) {
          .lMain .timetableDetailWrapper .topicPerformer .flex {
            display: block; } }
        .lMain .timetableDetailWrapper .topicPerformer .flex .picsContent {
          margin-right: 16px; }
          @media screen and (max-width: 414px) {
            .lMain .timetableDetailWrapper .topicPerformer .flex .picsContent {
              margin-bottom: 32px; margin-right: 0; } }
          .lMain .timetableDetailWrapper .topicPerformer .flex .picsContent img {
            width: 240px;
            height: auto;
            margin: 0 auto 16px auto;
            background-color: #CACACA;
            margin-bottom: 16px; }
          @media screen and (max-width: 414px) {
            .lMain .timetableDetailWrapper .topicPerformer .flex .picsContent img {
              width: 100%; height: auto; } }


          .lMain .timetableDetailWrapper .topicPerformer .flex .picsContent P {
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;
            color: #FFFFFF; }
        .lMain .timetableDetailWrapper .topicPerformer .flex .textContent p {
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          color: #FFFFFF;
          margin-bottom: 32px; }
        .lMain .timetableDetailWrapper .topicPerformer .flex .textContent a {
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: #FFFFFF; }
    .lMain .timetableDetailWrapper .contents:last-child {
      margin-bottom: 0px; }
.lMain .timetableWrapper {
  width: 100%; }




  .lMain .timetableWrapper .section-heading {
    font-size: 48px;
    line-height: 56px;
    margin-top: 91px;
    margin-bottom: 160px; }
    @media screen and (max-width: 1024px) {
      .lMain .timetableWrapper .section-heading {
        margin-top: 110px;
        margin-bottom: 72px; } }
    @media screen and (max-width: 414px) {
      .lMain .timetableWrapper .section-heading {
        font-size: 32px;
        line-height: 37px;
        margin-top: 111px;
        margin-bottom: 114px; } }



.lMain .timetableWrapper .section-heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0 0 0 137px;
  .heading-lang {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 0 0 0 24px;
    li {
      &:after {
        content: "|";
        padding: 0 10px;
      }
      a.is-active {
        color: #4AC0E5;
        pointer-events: none;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  @include mqSP {
    display: block;
    padding: 0;
    .heading-lang {
      margin: 0;
    }
  }
}



  .lMain .timetableWrapper .menu_tab {
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 1278px;
    width: 92%; }
    @media screen and (max-width: 1024px) {
      .lMain .timetableWrapper .menu_tab {
        width: 100%; } }
    .lMain .timetableWrapper .menu_tab li {
      width: 50%;
      background-color: #FFFFFF;
      border-radius: 8px 0px 0px 0px;
      border-bottom: #4AC0E5 4px solid; }
      .lMain .timetableWrapper .menu_tab li a {
        display: block;
        padding: 17px 0px;
        text-align: center;
        font-weight: bold;
        color: #333333;
        font-size: 32px; }
        @media screen and (max-width: 414px) {
          .lMain .timetableWrapper .menu_tab li a {
            padding: 12px 0px;
            font-size: 24px;
            line-height: 28px; } }
    .lMain .timetableWrapper .menu_tab li:first-child {
      box-shadow: -3px -1px 2px 0px rgba(0, 0, 0, 0.2) inset; }
    .lMain .timetableWrapper .menu_tab li:last-child {
      border-radius: 0px 8px 0px 0px;
      box-shadow: 3px -1px 2px 0px rgba(0, 0, 0, 0.2) inset; }
    .lMain .timetableWrapper .menu_tab li.active {
      background-color: #4AC0E5;
      box-shadow: initial; }
  .lMain .timetableWrapper .titleContent {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 84px;
    margin-bottom: 80px; }
    @media screen and (max-width: 1024px) {
      .lMain .timetableWrapper .titleContent {
        margin-top: 80px;
        margin-bottom: 56px; } }
    @media screen and (max-width: 414px) {
      .lMain .timetableWrapper .titleContent {
        margin-top: 56px;
        margin-bottom: 56px; } }
  .lMain .timetableWrapper .tabContents {
    display: none;
    width: 100%; }
    @media screen and (max-width: 1024px) {
      .lMain .timetableWrapper .tabContents {
        padding: 0px 84px; } }
    @media screen and (max-width: 414px) {
      .lMain .timetableWrapper .tabContents {
        padding: 0px 16px; } }
    .lMain .timetableWrapper .tabContents .timeTable {
      clear: both; }
    .lMain .timetableWrapper .tabContents .col2of4 {
      width: 100%;
      float: left;
      zoom: 1; }
    .lMain .timetableWrapper .tabContents .tableBoxPc {
      display: block;
      margin: 0 auto;
      max-width: 1278px;
      width: 92%; }
      @media screen and (max-width: 1024px) {
        .lMain .timetableWrapper .tabContents .tableBoxPc {
          display: none; } }
    .lMain .timetableWrapper .tabContents .tableBoxTbSp {
      width: 100%;
      display: none; }
      @media screen and (max-width: 1024px) {
        .lMain .timetableWrapper .tabContents .tableBoxTbSp {
          display: block; } }
      .lMain .timetableWrapper .tabContents .tableBoxTbSp ul {
        margin: 0 auto 80px; }
        .lMain .timetableWrapper .tabContents .tableBoxTbSp ul .trackList {
          width: 15%;
          min-width: 123px;
         width: 95%;
          margin: 0 auto;
          margin-bottom: 32px; }
          @media screen and (max-width: 414px) {
            .lMain .timetableWrapper .tabContents .tableBoxTbSp ul .trackList {
              min-width: 104px; width: 95%; } }
          .lMain .timetableWrapper .tabContents .tableBoxTbSp ul .trackList a {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
                align-items: center;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: #FFFFFF; }
            @media screen and (max-width: 414px) {
              .lMain .timetableWrapper .tabContents .tableBoxTbSp ul .trackList a {
                font-size: 20px;
                line-height: 23px; } }
          .lMain .timetableWrapper .tabContents .tableBoxTbSp ul .trackList a:before {
            content: '';
            display: block;
            width: 15px;
            height: 20px;
            margin-right: 12px;
            background-image: url(../img/timetable/arrow.svg); }
        .lMain .timetableWrapper .tabContents .tableBoxTbSp ul .trackList.active a {
          color: #4AC0E5; }
        .lMain .timetableWrapper .tabContents .tableBoxTbSp ul .trackList.active a:before {
          content: '';
          display: block;
          width: 15px;
          height: 20px;
          margin-right: 12px;
          background-image: url(../img/timetable/arrow_active.svg); }
        .lMain .timetableWrapper .tabContents .tableBoxTbSp ul .trackList:last-child {
          margin-bottom: 0px; }
    .lMain .timetableWrapper .tabContents table {
      width: 100%;
      table-layout: fixed;
      border-collapse: separate;
      border-spacing: 2px;
      border: none; }
      @media screen and (max-width: 1024px) {
        .lMain .timetableWrapper .tabContents table {
          border-spacing: 2px; } }
    @media screen and (max-width: 1024px) {
      .lMain .timetableWrapper .tabContents tr {
        margin-bottom: 64px;
        display: block; } }
    .lMain .timetableWrapper .tabContents th, .lMain .timetableWrapper .tabContents td {
      margin: 2px; }
      @media screen and (max-width: 1024px) {
        .lMain .timetableWrapper .tabContents th, .lMain .timetableWrapper .tabContents td {
          display: block; width: 100%; } }
    .lMain .timetableWrapper .tabContents th {
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #333333;
      text-align: center;
      background-color: #2C3E5C;
      vertical-align: top;
      padding: 12px 0px; }
      @media screen and (max-width: 1024px) {
        .lMain .timetableWrapper .tabContents th {
          padding: 15px 16px;
          margin-bottom: 4px; } }
    .lMain .timetableWrapper .tabContents td {
      font-size: 14px;
      text-align: left;
      background: #FFFFFF;
      color: #333333; }
      .lMain .timetableWrapper .tabContents td a {
        display: block;
        padding: 4px 4px 22px 4px;
        transition: .3s;
        height: 100%; }
        @media screen and (max-width: 1024px) {
          .lMain .timetableWrapper .tabContents td a {
            padding: 8px 16px 16px 16px; } }
      .lMain .timetableWrapper .tabContents td p {
        margin-bottom: 8px; }
      .lMain .timetableWrapper .tabContents td .time {
        font-weight: normal;
        font-size: 12px;
        line-height: 14px; }
      .lMain .timetableWrapper .tabContents td .bold_title {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px; }
      .lMain .timetableWrapper .tabContents td .detail {
        max-height: 96px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden;
        margin-bottom: 8px; }
        @media screen and (max-width: 1024px) {
          .lMain .timetableWrapper .tabContents td .detail {
            max-height: 33px; } }
        @media screen and (max-width: 414px) {
          .lMain .timetableWrapper .tabContents td .detail {
            max-height: 49px; } }
        .lMain .timetableWrapper .tabContents td .detail p {
          display: block;
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 0px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          overflow: hidden; }
          @media screen and (max-width: 1024px) {
            .lMain .timetableWrapper .tabContents td .detail p {
              -webkit-line-clamp: 2; } }
          @media screen and (max-width: 414px) {
            .lMain .timetableWrapper .tabContents td .detail p {
              -webkit-line-clamp: 3; } }
      .lMain .timetableWrapper .tabContents td .perforer {
        font-size: 12px;
        line-height: 14px; }
    .lMain .timetableWrapper .tabContents .borderNone {
      border-bottom: 1px solid #2C3E5C; }
    .lMain .timetableWrapper .tabContents .tableBox th.just {
      padding-top: 7px;
      box-sizing: border-box;
      font-size: 16px;
      font-weight: bold;
      line-height: 1; }
    .lMain .timetableWrapper .tabContents .color01 {
      background: #FFFFFF; }
    .lMain .timetableWrapper .tabContents .color02 {
      background: #CACACA;
      padding: 4px 4px 22px 4px; }
    .lMain .timetableWrapper .tabContents .color03 {
      background: #aaa;
      padding: 4px 4px 22px 4px; }
      @media screen and (max-width: 1024px) {
        .lMain .timetableWrapper .tabContents .color02,
        .lMain .timetableWrapper .tabContents .color03 {
          padding: 8px 16px 16px 16px; } }
    .lMain .timetableWrapper .tabContents .blank {
      background: initial; }
    .lMain .timetableWrapper .tabContents .times {
      background: initial;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      width: 3.8%;
      max-width: 49px;
      text-align: left;
      margin-right: 8px; }
  .lMain .timetableWrapper .tabContents.active {
    display: inline-block; }




    .link_back {
      font-size: 16px;
      font-weight: bold;
      a {
        i {
          position: relative;
          top: 2px;
          margin: 0 13px 0 0;
        }
      }
    }