*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}
// Classがないものに対してデフォルトのスタイルを適用
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: black;
}

// articleを最適化
article > * + * {
  margin-top: 1em;
}

// アニメーション酔いする方向けの設定
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
