@use "mixin" as *;
@import "reset";

img {
  max-width: 100%;
}
html, body {
  background: #18171F;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #FFFFFF;
  @include mqSP {
    font-size: 16px;
  }
  overflow-x: hidden;
}

a {
  transition: all .3s ease;
  &:hover {
    opacity: .7;
  }
  @include mqSP {
    transition: none;
    &:hover {
      opacity: 1;
    }
  }
}
